h1 {
	text-align: center;
	color: white;
	background-color: #191970;
	height: 130px;
	padding: 45px;
	margin-bottom: 30px;
}

#header-search {
	color: white;
	background-color: #191970;
	font-size: 15px;
	height: 30px;
	padding-top: 5px;
	padding-left: 3px;

}

#search , #clear-results {
	background-color: #c0c0c0;
	color: white;
	margin: 0px 0px 10px 10px;
}

.group-info {
	border: #191970 solid 2px;
	margin-bottom: 30px;
}

.form-group{
	padding: 10px;
}